site_name: Toolbox Documentation
site_description: Documentation for the Toolbox Python package
site_author: Jia-Xin Zhu
site_url: https://ChiahsinChu.github.io/toolbox

repo_name: ChiahsinChu/toolbox
repo_url: https://github.com/ChiahsinChu/toolbox

nav:
  - Home: index.md
  - User Guide:
    - CP2K: cp2k.md
    - LAMMPS: lammps.md
    - Deep Potential: dp.md
    - Calculator: calculator.md
    - Plotting: plot.md
    - Unit Testing: unittest.md
  - API Reference: api.md

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      accent: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.share
  icon:
    repo: fontawesome/brands/github

plugins:
  - search:
      lang: en
  - awesome-pages
  - mkdocstrings:
      handlers:
        python:
          paths: [toolbox]
          options:
            docstring_style: numpy
            show_source: true
            show_root_heading: true
            heading_level: 3

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
      toc_depth: 4
      title: Table of Contents
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ChiahsinChu/toolbox
    - icon: fontawesome/solid/paper-plane
      link: mailto:jiaxinzhu@stu.xmu.edu.cn

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js